body {
    background-color: rgb(255, 255, 255) ;
    margin: 0 10%;
    font-family:'Times New Roman', Times, serif;
    background: #ffffff url(Images/koifishsvg.svg) 
no-repeat center 100px fixed;
}
header {
    font-family: 'Times New Roman', Times, serif;
    color: #f80000;
    margin-top: 0;
    padding: 3em 1em 2em 1em;
    text-align: center;
    background-color: #224224;
    padding-bottom: 1%;
    margin-top: 20px;
    }
footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: #000000;
}
nav {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    letter-spacing: 0cap ;
    text-align: center;
    font-size: large;
    margin-left: 7.5px;
}
h1 { 
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform:uppercase;
    margin-top: 30px;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}
h2 {
    text-align:left;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    
}
h3 {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large; 
    color:black;
    text-decoration-line: underline;
    font-weight: 500;
}
p {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    text-wrap: wrap;
    color: #ffffff;
}
img {
    padding-left: 2.4%;
    padding-bottom: 2.4%;
}
a {
    text-decoration: none;
    color: #000000;
  }
  a :link {
    color: #000000;
  }
  a :visited {
    color: #18a47c;
  }
  a:focus, a:hover {
    background-color: #ffffff; 
    color: #000000;
  }
  a:active {
      color: #000000;;
      background-color: #fff;
  }
  .section {
    background-color: #1a603a;
    padding: 20px;
    width: 85%;
    margin: 5rem auto 0 auto;
    border: 3px solid rgb(0, 0, 0);
}

.section footer{
    background-color: #ffffff;
    padding: 20px;
    width: 85%;
    margin: 5rem auto 0 auto;
    border: 3px solid rgb(0, 0, 0);
}
.section h1 {
    margin: 0;
    color: #d1c1b3;
    font-family: "Lato", sans-serif;
}

.section p {
    margin-right: 15px;
    color: #ffffff;
}